__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl
.venv/
venv/
.tox/
.mypy_cache/
.pytest_cache/
.venv/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local